doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='styles.css')
  link(rel='icon' href='assets/logo.png')
  // Adds the logo image on the tab
  script(src='scripts/final.js' defer='')
  title UN Goals - Home
header#home-header
  nav.final-nav-bar
    a#logo-button(href='')
      img.final-logo(src='assets/logo.png' alt='Logo')
    ul.final-nav-links
section#overlay_section
  .bg_container
    .overlay
    img#home-bg-image(src='assets/bg.jpg' alt='Sustainable Application Development')
section#home-featured-goals
footer#finalfooter
  .footer-content
    .footer-section
      h4
      p
      p
    .footer-section
      h4
      ul
        li
          a(href='index.html')
        li
          a(href='goal2-page.html')
        li
          a(href='aboutus.html')
    .footer-section
      h4
      .social-links
        a.social-link(href='#')
        a.social-link(href='#')
        a.social-link(href='#')
  .footer-bottom
    p
