doctype html
head
  meta(charset='UTF-8')
  meta(name='keywords' content='Good health, wellbeing')
  meta(name='author' content='Alistair Rekala')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title UN Goals- Good Health &amp; Wellbeing
  link(rel='stylesheet' href='styles.css')
  link(rel='icon' href='assets/logo.png')
  // Adds the logo image on the tab
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  script(src='scripts/final.js' defer='')
nav.final-nav-bar
  a#logo-button(href='')
    img.final-logo(src='assets/logo.png' alt='Logo')
  a#hamburger-icon
    i.fa.fa-bars
  ul.final-nav-links
header.gH-header
main.gH-Introduction
  h2.gH-h2
  p
  video#video
  article.article
    h2.gH-h2
    ul
      li
      li
      li
      li
      li
  article.gH-overview-card
    h2.gH-h2
    ul.challenge-list
      li
      li
      li
      li
  article.gH-Development-plan
    h2.gH-h2
    article.gH-step-card
      article.step-number
      h3.gH-h3
      p
    article.gH-step-card
      article.step-number
      h3.gH-h3
      p
    article.gH-step-card
      article.step-number
      h3.gH-h3
      p
    article.gH-step-card
      article.step-number
      h3.gH-h3
      p
  article.gH-policy-recommendations
    h2.gH-h2
    .recommendations-grid
      .recommendation-card
        h3.gH-h3
        p
      .recommendation-card
        h3.gH-h3
        p
      .recommendation-card
        h3.gH-h3
        p
footer#finalfooter
  .footer-content
    .footer-section
      h4
      p
      p
    .footer-section
      h4
      ul
        li
          a(href='index.html')
        li
          a(href='goal2-page.html')
        li
          a(href='aboutus.html')
    .footer-section
      h4
      .social-links
        a.social-link(href='#')
        a.social-link(href='#')
        a.social-link(href='#')
  .footer-bottom
    p
