doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title UN Goals - Sign Up
  link(rel='stylesheet' href='styles.css')
  link(rel='icon' href='assets/logo.png')
  // Adds the logo image on the tab
  script(src='scripts/final.js')
nav.final-nav-bar
  a#logo-button(href='')
    img.final-logo(src='assets/logo.png' alt='Logo')
  ul.final-nav-links
header#newsletter-header
  h1
  h2
section#form-box
  form#signup-form(action='/signUp' method='post')
    label
      span
    label
      span
    label
      span
    label
    label
    label#submitBtn-container
      input.submitBtn(type='submit' name='sumit')
footer#finalfooter
  .footer-content
    .footer-section
      h4
      p
      p
    .footer-section
      h4
      ul
        li
          a(href='index.html')
        li
          a(href='goal2-page.html')
        li
          a(href='aboutus.html')
    .footer-section
      h4
      .social-links
        a.social-link(href='#')
        a.social-link(href='#')
        a.social-link(href='#')
  .footer-bottom
    p
