doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title UN Goals - No Poverty
  link(rel='stylesheet' href='styles.css')
  link(rel='icon' href='assets/logo.png')
  // Adds the logo image on the tab
header#nopov-header
  nav.final-nav-bar
    a#logo-button(href='')
      img#red-page.final-logo(src='assets/logo.png' alt='Logo')
    ul.final-nav-links
main
  header.main-banner
    h1
    p
  section.content-section
    h2
    .info-boxes
      .info-box
        h3
        p
      .info-box
        h3
        p
      .info-box
        h3
        p
  section#goals-section.content-section
    h2
    .goals-grid
      .goal-box
        h3
        p
      .goal-box
        h3
        p
      .goal-box
        h3
        p
      .goal-box
        h3
        p
  section.signup-section
    h2
    p
    a.signup-button(href='signup.html')
footer#finalfooter
  .footer-content
    .footer-section
      h4
      p
      p
    .footer-section
      h4
      ul
        li
          a(href='index.html')
        li
          a(href='goal2-page.html')
        li
          a(href='aboutus.html')
    .footer-section
      h4
      .social-links
        a.social-link(href='#')
        a.social-link(href='#')
        a.social-link(href='#')
  .footer-bottom
    p
script(src='scripts/final.js')
