doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='styles.css')
  link(rel='icon' href='assets/logo.png')
  script(src='scripts/final.js' defer='')
  title UN Goals - Our Team
header#team-header
  nav.final-nav-bar
    a#logo-button(href='')
      img.final-logo(src='assets/logo.png' alt='Logo')
    ul.final-nav-links
main
  #team-section-container
    section#team-section
  article#team-article
    h1#team-heading
  article#team-contributions-article
    h1#contributions-heading
    table#contributionsTable
      #table-contents
        tr
          th
          th
          th
        tr
          td
          td
          td
        tr
          td
          td
          td
        tr
          td
          td
          td
        tr
          td
          td
          td
        tr
          td
          td
          td
        tr
          td
          td
          td
        tr
          td
          td
          td
footer#finalfooter
  .footer-content
    .footer-section
      h4
      p
      p
    .footer-section
      h4
      ul
        li
          a(href='index.html')
        li
          a(href='goal2-page.html')
        li
          a(href='aboutus.html')
    .footer-section
      h4
      .social-links
        a.social-link(href='#')
        a.social-link(href='#')
        a.social-link(href='#')
  .footer-bottom
    p
