doctype html
head
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title UN Goals - Zero Hunger
  link(rel='icon' href='assets/logo.png')
  // Adds the logo image on the tab
  link(rel='stylesheet' href='styles.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  script(src='scripts/final.js' defer='')
// navigation bar
nav.final-nav-bar
  header.nav-logo
    a#logo-button(href='')
      img.final-logo(src='assets/logo.png' alt='Logo')
  ul.final-nav-links
  // <a class="burger-menu"><i class="fa fa-bars"></i></a> THIS IS FOR MEDIA
// header
header#zH-header
  figure#headerLeft
  #headerRight.headerRight
    h3
    h1
    p
main
  // the targets section with each target contains an article-class=target conatins h3, p and figure if needed
  section#targets.keyTargets
    h2#targetTitle
    article.target
      h3
      p
      figure
    article.target
      h3
      p
      figure
    article.target
      h3
      p
      figure
  // plan section
  section#plan
    // title
    h1#targetTitle
    // list contain very plan
    ul.planList
      li.planListBox
        div
        h3
        p
      li.planListBox
        div
        h3
        p
      li.planListBox
        div
        h3
        p
  // policy
  section#policy
    // title
    h1#targetTitle
    // list contain very plan
    ul.policyList
      li.policyListBox
        div
        h3
        p
      li.policyListBox
        div
        h3
        p
      li.policyListBox
        div
        h3
        p
// footer
footer#finalfooter
  .footer-content
    .footer-section
      h4
      p
      p
    .footer-section
      h4
      ul
        li
          a(href='index.html')
        li
          a(href='goal2-page.html')
        li
          a(href='aboutus.html')
    .footer-section
      h4
      .social-links
        a.social-link(href='#')
        a.social-link(href='#')
        a.social-link(href='#')
  .footer-bottom
    p
