header{
    height: 6vh;
    position: relative;
    background-color:#f8f2e4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    overflow: hidden;
}

html{
    font-family: Arial, sans-serif;
}

.navigation{
    position: relative;
    display: flex;
    margin: auto;
    justify-content: center;

}


nav ul li{
    display: inline;
    padding: 15px;
    border-radius: 8px;
    transition: 0.5s ease-in;
    font-size: 1.2em;
}

nav ul li:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transition: 0.5s ease-in-out;
}

nav ul li a {
    color: #333;
    padding: 8px 15px;
    border: 2px solid transparent;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}

#active {
    color: white;
    background-color: #4CAF50;
    padding: 10px 20px; 
    border-radius: 8px;
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.6); 
    font-weight: bold; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
    transform: scale(1.1); 
    transition: all 0.3s ease;
}

h1{
    display: block;
    margin-block-start: 0em;
    text-align: center;
}

#main_title{
    text-align: center;
    display: block;
}

#logo{
    width: 10%;   
}

#image_container{
    text-align: center;
}

#featured_goals{
    background-color:#4CAF50;
}

    h2 {
        font-size: 2.5em;
        color: #4CAF50;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
        background-color: #f0f0f0;
        padding: 15px;
        border-radius: 8px;
        border-bottom: 2px solid #4CAF50;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    

#footer{
    background-color: #adbf0c;
}

#footer_text{
    text-align: center;
    padding: 20px;
}

article{
    display: inline-block;
    background-color:#f8f2e4;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 11px;
    padding-right: 11px;
    margin-bottom: 20px;
    margin-left: 15px;
    border-radius: 20px;
    box-sizing: border-box;
    overflow: hidden;
    transition: 0.5s ease-in-out;


}

article:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}


#team_section{
  
        display: flex; 
        flex-wrap: wrap; 
        justify-content: space-evenly; 
        gap: 5px; 
        margin: 20px auto;
        padding: 20px;
        border: 2px solid #3f2860;
        border-radius: 20px;
        background-color: #fdf9f6;
        max-width: 80%;
        box-sizing: border-box;

      
}

#section_container{
    display: block;
    text-align: center;
}



table {
    border: 2px solid dodgerblue;
}

td th{
    width: 100%;
}

table{
    padding: 10px;
}

#footer{

    background-color: #4CAF50;
    color:white;
    padding: 1rem;
    position:inherit;
    bottom: 0;
    width: 100%;
    font-size: 0.9em;
    text-align:inherit;
    padding-left: 20px;
    margin-top: 32px;
    
}
#footer_text{
text-align: center;
padding: 20px;
}